<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Index</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<form method="POST" class="post-form" action="/emp">
		{% csrf_token %}
		<div class="container-fluid">
			<div class="form-group row">
				<label class="col-sm-4 col-form-label"></label>
					<div class="col-sm-4">
						<h3>Enter Employee Details</h3>
					</div>
				</div>
					<div class="form-group row">
						<label class="col-sm-12 col-form-label">Employee ID:</label>
						<div class="col-sm-8">
							{{ form.employee_id }}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-form-label">Employee Name:</label>
						<div class="col-sm-4">
							{{ form.employee_name }}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-form-label">Employee Email:</label>
						<div class="col-sm-1">
							{{ form.email }}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-form-label">Employee Contact:</label>
						<div class="col-sm-4">
							{{ form.employee_contact }}
						</div>
					</div>
						<div class="form-group row">
						<label class="col-sm-12 col-form-label"></label>
						<div class="col-sm-4">
						<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
		</div>
		
	</form>

</body>
</html>